@import 'src/assets/styles/_colors.scss';

.product {
  display: flex;
  width: 300px;
  padding: 16px 32px;
  flex-direction: column;

  &__information {
    display: grid;
    grid-template-columns: 80% 20%;

    &__brand {
      display: block;
      font-size: 18px;
      color: black;
      font-weight: 900;
    }
  
    &__name {
      display: block;
      font-size: 16px;
      color: $dark-gray;
    }
  
    &__seller {
      display: block;
      font-size: 14px;
      color: $dark-gray;
  
      & a {
        color: $brand-green;
        text-decoration: none;
        font-weight: 900;
      }
    }

    & i {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      color: $dark-gray;
      cursor: pointer;
    }

    & i:hover {
      opacity: 0.9;
    }
  }

  &__share-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: $dark-gray;
    margin: 16px 0;

    & i {
      cursor: pointer;
    }

    & i:not(:last-child) {
      margin-right: 16px;
    }
  }
}